/* Base container styles */
.input-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px; /* Adds padding for smaller screens */
}

/* Title Styling */
.input-page-title {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #333;
  text-align: center; /* Centered for smaller screens */
}

/* Form container */
.input-form {
  background-color: white;
  padding: 20px; /* Reduce padding for phones */
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px; /* Adjust the width for phones */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Input field styles */
.input-field {
  margin-bottom: 15px; /* Less margin on mobile */
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 0.95rem; /* Adjusted label size */
}

.input-field input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 0.9rem; /* Slightly smaller font size for inputs */
  color: #333;
  transition: border-color 0.3s ease;
}

/* Button styles */
.submit-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit-button:hover {
  background-color: #333;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .input-page-title {
    font-size: 1.5rem; /* Adjust title size for small screens */
  }

  .input-form {
    padding: 15px; /* Slightly less padding for smaller devices */
  }

  .input-field label {
    font-size: 1rem; /* Adjust label size for smaller screens */
  }

  .input-field input {
    font-size: 1rem; /* Adjust input text size */
  }

  .submit-button {
    font-size: 0.9rem; /* Slightly smaller button font */
    padding: 10px; /* Adjust button padding for mobile */
  }
}
