/* index.css */
body {
  margin: 0;
  padding: 0; /* Ensure there’s no padding issue */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%; /* Set height to allow for proper flex and container layouts */
  overflow-x: hidden; /* Prevent any horizontal scroll */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  height: 100%; /* Ensure the root takes the full height */
}
